<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LiuYan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.liuyan.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/ls.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>VerifyLoginServlet</display-name>
    <servlet-name>VerifyLoginServlet</servlet-name>
    <servlet-class>com.ajax.VerifyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyLoginServlet</servlet-name>
    <url-pattern>/vls.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetVerifyNumServlet</display-name>
    <servlet-name>GetVerifyNumServlet</servlet-name>
    <servlet-class>com.ajax.GetVerifyNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVerifyNumServlet</servlet-name>
    <url-pattern>/gns.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.ajax.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/los.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveInfoServlet</display-name>
    <servlet-name>SaveInfoServlet</servlet-name>
    <servlet-class>com.db.SaveInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveInfoServlet</servlet-name>
    <url-pattern>/sif.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>db_username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db_pass</param-name>
    <param-value>10161127</param-value>
  </context-param>
  <context-param>
    <param-name>db_url</param-name>
    <param-value>jdbc:mysql://localhost:3306/message_board?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PageServerServlet</display-name>
    <servlet-name>PageServerServlet</servlet-name>
    <servlet-class>com.ajax.PageServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServerServlet</servlet-name>
    <url-pattern>/pss.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRecordsNumServlet</display-name>
    <servlet-name>GetRecordsNumServlet</servlet-name>
    <servlet-class>com.ajax.GetRecordsNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecordsNumServlet</servlet-name>
    <url-pattern>/grns.do</url-pattern>
  </servlet-mapping>
</web-app>